body {
    background-color: white;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
}

#box1 {
    background-color: deepskyblue;
    float: left;
}
#box2 {
    background-color: mediumpurple;
    float: left;
}
#box3 {
    background-color: indianred;
    clear:both;
    float:left;
}
#box4 {
    background-color: yellow;
    float:left;
}

.box {
    width: 100px;
    height: 100px;
}

.fullborder {
    border: black solid thin;
}

#wrapper {
    width: 965px
    height: 1554px
    margin-left: auto;
    margin-right: auto;
}
#content {
    width: 545px;
    padding-right: 26px;
    padding-left: 27px;
    float: left;
    font-size: 17px;
    line-height: 27px;
}
#content h1{
    font-size: : 41px
    line-height:64px;
}
#content h2 {
    font-size: 32px;
    line-height: 53px;
}

#content h3 {
    font-size: 27px;
    line-height: 40px;
}

#content h4 {
    font-size: 21px;
    line-height: 35px;
}

#content h5 {
    font-size: 18px;
    line-height: 26px;
}

#content h6 {
    font-size: 15px;
    line-height: 25px;
}

#sidebar {
    width: 366px;
    float: left;
}

#footer {
    clear: both;




