body {
    background-color: white;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
}

#box1 {
    background-color: deepskyblue;
    float: left;
}
#box2 {
    background-color: mediumpurple;
    float: left;
}
#box3 {
    background-color: indianred;
    clear:both;
    float:left;
}
#box4 {
    background-color: yellow;
    float:left;
}

